@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

html{
  font-family: 'Source Serif Pro', serif;
}
body{
  font-family: 'Source Serif Pro', serif;
}
ul li{
  list-style-type: none;
}
ul li i{
  color: white;
  font-size: 20px;
  margin: 10px;
}
.contact-icons i{
  font-size: 38px;
  margin: 20px;
  color: #52505E;
}
.welcomeSection p{
  font-size:20px;
  line-height: 10px;
}
.soft ul li{
  line-height: 35px;
}
.animationSection p{
  line-height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
.tech-stack{
  font-size: 15px;
  font-weight: 800;
  color: #3B5453!important;
}
.project-name{
  color: #3B5453;
  font-weight: 800!important;
}
.avatar-wrapper{
  width: 300px;
  
}
.avatar-wrapper img{
  max-width:100%;
  max-height:100%;
  border-radius: 50%;
}
.i-am{
  line-height: 20px!important;
  padding-left: 40px;
}















/* .fly-left {
    animation: flyInFromLeft ease-in-out 750ms;
  }
  
  @keyframes flyInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  .fly-right {
    animation: flyInFromRight ease-in-out 750ms;
  }
  
  @keyframes flyInFromRight {
    0% {
      opacity: 0;
      transform: translateX(+50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  } */